.about-container {
  display: flex;
  padding: 1em;
  gap: 5em;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 5em;
  font-weight: 600;
  letter-spacing: -0.035em;

  div {
    max-width: 500px;
  }
}

.contact-info {
  a {
    color: #4f95ff;
  }
}
