.account-links {
  span {
    padding: 0.2em 0.5em 0.2em 0.5em;
  }

  .link {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: -0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
  }

  #register {
    background: linear-gradient(95.48deg, #28292c 0%, #131415 100%);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 5px;
  }
}
