.repo-card {
  background: linear-gradient(
    122.11deg,
    #0c0c0c -3.63%,
    rgba(117, 117, 117, 0.22) 160.76%
  );
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 12px;
  padding: 1em;
  max-height: 300px;
  display: flex;
  gap: 30px;

  img {
    border-radius: 12px;
    max-width: 400px;
  }

  div {
    margin-right: 2em;

    h3,
    h4 {
      display: block;
    }
    a {
      margin-top: 1em;
    }
  }
}
